<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="authy-desktop" />
      <package id="wireguard" />
      <package id="unity-hub" />
      <package id="unity-docs" />
      <package id="unity" />
      <package id="ccleaner" />
      <package id="adobereader" />
      <package id="blender" />
      <package id="azure-cli" />
      <package id="sharex" />
      <package id="notepadplusplus" />
      <package id="eartrumpet" />
      <package id="treesizefree" />
      <package id="vlc" />
      <package id="7zip" />
      <package id="audacity" />
      <package id="microsoft-windows-terminal" />
      <package id="anaconda3" />
      <package id="lenovo-thinkvantage-system-update" />
      <package id="vscode" />
      <package id="pandoc" />
      <package id="wkhtmltopdf" />
      <package id="ruby" />
      <package id="msys2" />
      <package id="adobe-dnc" />
      <package id="docker-desktop" />
    </packages>
